h1 {
  font-size: 36px;
  line-height: normal;
  background-color: #4470c4;
  border: 5px solid #2d508f;
}
.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    background-position: center;
    text-align: center;
}

.float-block {
    display: inline-block;
    position: absolute;
    width: 80%;
    height: 70%;
    text-align: center; 
    z-index: index 15;
    background-color: #d3f7a3;
    margin:auto;
    padding:10px;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    cursor: default;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.second-block{
    display: none;
    position: absolute;
    width: 80%;
    height: 70%;
    text-align: center; 
    z-index: index 15;
    background-color: #d3f7a3;
    margin:auto;
    padding:10px;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    cursor: default;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.button-next, .button-finish{
    display: inline-block;
    height: inherit;
    width: 10%;
    min-width: 70px;
    cursor: pointer;
    border: 1px solid rgb(177, 233, 250);
    right: 0;
    left: 0;
}
  
.ar {
    display: none;
    position: absolute;
    width: 500px;
    height: 150px;
    text-align: center; 
    z-index: index 15;
    background-color: rgba(255, 255, 255);
    margin:auto;
    padding:10px;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    cursor: default;
    top: 10px;
    bottom: 0;
    right: 0;
    left: 0;
}
